body {
  background-color: whitesmoke;
}
#element_inner {
  margin-top: 500px;
}
.header_content_main {
  height: 100px;
  width: 1920;
}
.header_content_left_logo {
  /* Style for "logo" */
  width: 60px;
  height: 60px;
  padding-left: 490px;
  padding-top: 19px;
  position: static;
}
.header_content_left_text {
  /* Style for "Технологии" */
  font-family: "Open Sans";
  font-size: 16px;
  display: inline-block;
  padding-left: 19px;
  position: absolute;
}
.header_content_center_text {
  /* Style for "Сертификат" */
  color: #666666;
  font-family: "Open Sans";
  font-size: 14px;
  position: static;
  margin-top: -50px;
}
.header_content_right_number {
  /* Style for "+7 (499) 4" */
  font-family: "Open Sans - Semibold";
  font-size: 22px;
  position: inherit;
}
.header_content_right_address {
  /* Style for "г. Москва," */
  font-family: "Open Sans";
  font-size: 14px;
  margin-top: -11px;
}
.header_content_right {
  text-align: right;
  margin-right: 490px;
  margin-top: -89px;
}
.content_and_form {
  /* Style for "bg-1" */
  width: 1920px;
  height: 550px;
  background-image: url(../image/bg-1.png);
}
.class {
  // .class__content

  &__content {
    color: yellowgreen;
  }

  // .class__1

  &__1 {
  }

  // .class__2

  &__2 {
  }
}
